body, html {
    height: 100%;
    margin: 0;
    background-color: #000;
    color: #fff;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    max-width: 800px;
    width: 90%;
}

.logo {
    max-width: 600px;
    width: 90%;
    margin-bottom: 20px;
}

.tagline {
    font-size: 1em;
    margin-bottom: 20px;
    color: #ccc;
}

.contact {
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #fff;
    padding-bottom: 2px;
}

.contact:hover {
    color: #ccc;
    border-bottom-color: #ccc;
}
